**/node_modules
Week6/.stack-work/stack.sqlite3
Week6/.stack-work/stack.sqlite3.pantry-write-lock
Week6/.stack-work/dist/274b403a/build-lock
Week6/.stack-work/dist/274b403a/setup-config
Week6/.stack-work/dist/274b403a/stack-cabal-mod
Week6/.stack-work/dist/274b403a/stack-setup-config-mod
Week6/.stack-work/dist/274b403a/stack-test-success
Week6/.stack-work/dist/274b403a/build/BinTree.hi
Week6/.stack-work/dist/274b403a/build/BinTree.o
Week6/.stack-work/dist/274b403a/build/BinTree.p_hi
Week6/.stack-work/dist/274b403a/build/BinTree.p_o
Week6/.stack-work/dist/274b403a/build/Examples.hi
Week6/.stack-work/dist/274b403a/build/Examples.o
Week6/.stack-work/dist/274b403a/build/Examples.p_hi
Week6/.stack-work/dist/274b403a/build/Examples.p_o
Week6/.stack-work/dist/274b403a/build/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.o
Week6/.stack-work/dist/274b403a/build/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.p_o
Week6/.stack-work/dist/274b403a/build/IntPair.hi
Week6/.stack-work/dist/274b403a/build/IntPair.o
Week6/.stack-work/dist/274b403a/build/IntPair.p_hi
Week6/.stack-work/dist/274b403a/build/IntPair.p_o
Week6/.stack-work/dist/274b403a/build/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW_p.a
Week6/.stack-work/dist/274b403a/build/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.a
Week6/.stack-work/dist/274b403a/build/List.hi
Week6/.stack-work/dist/274b403a/build/List.o
Week6/.stack-work/dist/274b403a/build/List.p_hi
Week6/.stack-work/dist/274b403a/build/List.p_o
Week6/.stack-work/dist/274b403a/build/Paths_tute6.hi
Week6/.stack-work/dist/274b403a/build/Paths_tute6.o
Week6/.stack-work/dist/274b403a/build/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/build/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/batch/batch.exe
Week6/.stack-work/dist/274b403a/build/batch/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/batch/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_hi
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_o
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/build/watch/watch.exe
Week6/.stack-work/dist/274b403a/build/watch/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/watch/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_hi
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_o
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/package.conf.inplace/package.cache
Week6/.stack-work/dist/274b403a/package.conf.inplace/package.cache.lock
Week6/.stack-work/dist/274b403a/package.conf.inplace/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.conf
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/lib
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/test-batch
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/test-watch
Week6/.stack-work/ghci/9426e5d6/cabal_macros.h
Week6/.stack-work/install/b4975293/doc/tute6-0.1.0.0/LICENSE
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/BinTree.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/BinTree.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Examples.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Examples.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.o
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.p_o
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/IntPair.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/IntPair.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW_p.a
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.a
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/List.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/List.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Paths_tute6.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Paths_tute6.p_hi
Week6/.stack-work/install/b4975293/pkgdb/package.cache
Week6/.stack-work/install/b4975293/pkgdb/package.cache.lock
Week6/.stack-work/install/b4975293/pkgdb/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.conf
