**/node_modules
Week6/.stack-work/stack.sqlite3
Week6/.stack-work/stack.sqlite3.pantry-write-lock
Week6/.stack-work/dist/274b403a/build-lock
Week6/.stack-work/dist/274b403a/setup-config
Week6/.stack-work/dist/274b403a/stack-cabal-mod
Week6/.stack-work/dist/274b403a/stack-setup-config-mod
Week6/.stack-work/dist/274b403a/stack-test-success
Week6/.stack-work/dist/274b403a/build/BinTree.hi
Week6/.stack-work/dist/274b403a/build/BinTree.o
Week6/.stack-work/dist/274b403a/build/BinTree.p_hi
Week6/.stack-work/dist/274b403a/build/BinTree.p_o
Week6/.stack-work/dist/274b403a/build/Examples.hi
Week6/.stack-work/dist/274b403a/build/Examples.o
Week6/.stack-work/dist/274b403a/build/Examples.p_hi
Week6/.stack-work/dist/274b403a/build/Examples.p_o
Week6/.stack-work/dist/274b403a/build/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.o
Week6/.stack-work/dist/274b403a/build/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.p_o
Week6/.stack-work/dist/274b403a/build/IntPair.hi
Week6/.stack-work/dist/274b403a/build/IntPair.o
Week6/.stack-work/dist/274b403a/build/IntPair.p_hi
Week6/.stack-work/dist/274b403a/build/IntPair.p_o
Week6/.stack-work/dist/274b403a/build/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW_p.a
Week6/.stack-work/dist/274b403a/build/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.a
Week6/.stack-work/dist/274b403a/build/List.hi
Week6/.stack-work/dist/274b403a/build/List.o
Week6/.stack-work/dist/274b403a/build/List.p_hi
Week6/.stack-work/dist/274b403a/build/List.p_o
Week6/.stack-work/dist/274b403a/build/Paths_tute6.hi
Week6/.stack-work/dist/274b403a/build/Paths_tute6.o
Week6/.stack-work/dist/274b403a/build/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/build/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/batch/batch.exe
Week6/.stack-work/dist/274b403a/build/batch/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/batch/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_hi
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_o
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/build/watch/watch.exe
Week6/.stack-work/dist/274b403a/build/watch/autogen/cabal_macros.h
Week6/.stack-work/dist/274b403a/build/watch/autogen/Paths_tute6.hs
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_hi
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_o
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute6.p_hi
Week6/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute6.p_o
Week6/.stack-work/dist/274b403a/package.conf.inplace/package.cache
Week6/.stack-work/dist/274b403a/package.conf.inplace/package.cache.lock
Week6/.stack-work/dist/274b403a/package.conf.inplace/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.conf
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/lib
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/test-batch
Week6/.stack-work/dist/274b403a/stack-build-caches/1b4c23d2b5745bb448ea629854eed8abab241e284d052ba402617ede124dd8df/test-watch
Week6/.stack-work/ghci/9426e5d6/cabal_macros.h
Week6/.stack-work/install/b4975293/doc/tute6-0.1.0.0/LICENSE
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/BinTree.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/BinTree.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Examples.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Examples.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.o
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/HStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.p_o
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/IntPair.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/IntPair.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW_p.a
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/libHStute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.a
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/List.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/List.p_hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Paths_tute6.hi
Week6/.stack-work/install/b4975293/lib/x86_64-windows-ghc-8.10.3/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW/Paths_tute6.p_hi
Week6/.stack-work/install/b4975293/pkgdb/package.cache
Week6/.stack-work/install/b4975293/pkgdb/package.cache.lock
Week6/.stack-work/install/b4975293/pkgdb/tute6-0.1.0.0-BeDTVnWXgSd1TPyFarLFZW.conf
Week10/.stack-work/stack.sqlite3
Week10/.stack-work/stack.sqlite3.pantry-write-lock
Week10/.stack-work/dist/274b403a/build-lock
Week10/.stack-work/dist/274b403a/setup-config
Week10/.stack-work/dist/274b403a/stack-cabal-mod
Week10/.stack-work/dist/274b403a/stack-setup-config-mod
Week10/.stack-work/dist/274b403a/stack-test-success
Week10/.stack-work/dist/274b403a/build/Applicative.hi
Week10/.stack-work/dist/274b403a/build/Applicative.o
Week10/.stack-work/dist/274b403a/build/Applicative.p_hi
Week10/.stack-work/dist/274b403a/build/Applicative.p_o
Week10/.stack-work/dist/274b403a/build/Base.hi
Week10/.stack-work/dist/274b403a/build/Base.o
Week10/.stack-work/dist/274b403a/build/Base.p_hi
Week10/.stack-work/dist/274b403a/build/Base.p_o
Week10/.stack-work/dist/274b403a/build/Exercises.hi
Week10/.stack-work/dist/274b403a/build/Exercises.o
Week10/.stack-work/dist/274b403a/build/Exercises.p_hi
Week10/.stack-work/dist/274b403a/build/Exercises.p_o
Week10/.stack-work/dist/274b403a/build/FileIO.hi
Week10/.stack-work/dist/274b403a/build/FileIO.o
Week10/.stack-work/dist/274b403a/build/FileIO.p_hi
Week10/.stack-work/dist/274b403a/build/FileIO.p_o
Week10/.stack-work/dist/274b403a/build/Folds.hi
Week10/.stack-work/dist/274b403a/build/Folds.o
Week10/.stack-work/dist/274b403a/build/Folds.p_hi
Week10/.stack-work/dist/274b403a/build/Folds.p_o
Week10/.stack-work/dist/274b403a/build/Functor.hi
Week10/.stack-work/dist/274b403a/build/Functor.o
Week10/.stack-work/dist/274b403a/build/Functor.p_hi
Week10/.stack-work/dist/274b403a/build/Functor.p_o
Week10/.stack-work/dist/274b403a/build/HStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.o
Week10/.stack-work/dist/274b403a/build/HStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.p_o
Week10/.stack-work/dist/274b403a/build/libHStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk_p.a
Week10/.stack-work/dist/274b403a/build/libHStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.a
Week10/.stack-work/dist/274b403a/build/Monad.hi
Week10/.stack-work/dist/274b403a/build/Monad.o
Week10/.stack-work/dist/274b403a/build/Monad.p_hi
Week10/.stack-work/dist/274b403a/build/Monad.p_o
Week10/.stack-work/dist/274b403a/build/Paths_tute10.hi
Week10/.stack-work/dist/274b403a/build/Paths_tute10.o
Week10/.stack-work/dist/274b403a/build/Paths_tute10.p_hi
Week10/.stack-work/dist/274b403a/build/Paths_tute10.p_o
Week10/.stack-work/dist/274b403a/build/Traversable.hi
Week10/.stack-work/dist/274b403a/build/Traversable.o
Week10/.stack-work/dist/274b403a/build/Traversable.p_hi
Week10/.stack-work/dist/274b403a/build/Traversable.p_o
Week10/.stack-work/dist/274b403a/build/autogen/cabal_macros.h
Week10/.stack-work/dist/274b403a/build/autogen/Paths_tute10.hs
Week10/.stack-work/dist/274b403a/build/batch/batch.exe
Week10/.stack-work/dist/274b403a/build/batch/autogen/cabal_macros.h
Week10/.stack-work/dist/274b403a/build/batch/autogen/Paths_tute10.hs
Week10/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_hi
Week10/.stack-work/dist/274b403a/build/batch/batch-tmp/Main.p_o
Week10/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute10.p_hi
Week10/.stack-work/dist/274b403a/build/batch/batch-tmp/Paths_tute10.p_o
Week10/.stack-work/dist/274b403a/build/printFiles/printFiles.exe
Week10/.stack-work/dist/274b403a/build/printFiles/autogen/cabal_macros.h
Week10/.stack-work/dist/274b403a/build/printFiles/autogen/Paths_tute10.hs
Week10/.stack-work/dist/274b403a/build/printFiles/printFiles-tmp/Main.p_hi
Week10/.stack-work/dist/274b403a/build/printFiles/printFiles-tmp/Main.p_o
Week10/.stack-work/dist/274b403a/build/printFiles/printFiles-tmp/Paths_tute10.p_hi
Week10/.stack-work/dist/274b403a/build/printFiles/printFiles-tmp/Paths_tute10.p_o
Week10/.stack-work/dist/274b403a/build/watch/watch.exe
Week10/.stack-work/dist/274b403a/build/watch/autogen/cabal_macros.h
Week10/.stack-work/dist/274b403a/build/watch/autogen/Paths_tute10.hs
Week10/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_hi
Week10/.stack-work/dist/274b403a/build/watch/watch-tmp/Main.p_o
Week10/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute10.p_hi
Week10/.stack-work/dist/274b403a/build/watch/watch-tmp/Paths_tute10.p_o
Week10/.stack-work/dist/274b403a/package.conf.inplace/package.cache
Week10/.stack-work/dist/274b403a/package.conf.inplace/package.cache.lock
Week10/.stack-work/dist/274b403a/package.conf.inplace/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.conf
Week10/.stack-work/dist/274b403a/stack-build-caches/8b18a3314ea7ecf027f7f87a809e6f2da979ef7c0d31be122f65a81f65a09b44/exe-printFiles
Week10/.stack-work/dist/274b403a/stack-build-caches/8b18a3314ea7ecf027f7f87a809e6f2da979ef7c0d31be122f65a81f65a09b44/lib
Week10/.stack-work/dist/274b403a/stack-build-caches/8b18a3314ea7ecf027f7f87a809e6f2da979ef7c0d31be122f65a81f65a09b44/test-batch
Week10/.stack-work/dist/274b403a/stack-build-caches/8b18a3314ea7ecf027f7f87a809e6f2da979ef7c0d31be122f65a81f65a09b44/test-watch
Week10/.stack-work/install/065f7544/bin/printFiles.exe
Week10/.stack-work/install/065f7544/doc/tute10-0.1.0.0/LICENSE
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Applicative.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Applicative.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Base.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Base.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Exercises.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Exercises.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/FileIO.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/FileIO.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Folds.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Folds.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Functor.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Functor.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/HStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.o
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/HStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.p_o
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/libHStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk_p.a
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/libHStute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.a
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Monad.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Monad.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Paths_tute10.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Paths_tute10.p_hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Traversable.hi
Week10/.stack-work/install/065f7544/lib/x86_64-windows-ghc-8.10.3/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk/Traversable.p_hi
Week10/.stack-work/install/065f7544/pkgdb/package.cache
Week10/.stack-work/install/065f7544/pkgdb/package.cache.lock
Week10/.stack-work/install/065f7544/pkgdb/tute10-0.1.0.0-Eimfx9pOLqnKCQeftgvLxk.conf
Week10/stack.yaml.lock
Week10/tute10.cabal
Week7/tute7.cabal
Week7/stack.yaml.lock
Week7/.stack-work/stack.sqlite3
Week7/.stack-work/stack.sqlite3.pantry-write-lock
Week7/.stack-work/dist/d53b6a14/build-lock
Week7/.stack-work/dist/d53b6a14/setup-config
Week7/.stack-work/dist/d53b6a14/stack-cabal-mod
Week7/.stack-work/dist/d53b6a14/stack-setup-config-mod
Week7/.stack-work/dist/d53b6a14/stack-test-success
Week7/.stack-work/dist/d53b6a14/build/Examples.hi
Week7/.stack-work/dist/d53b6a14/build/Examples.o
Week7/.stack-work/dist/d53b6a14/build/HStute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.o
Week7/.stack-work/dist/d53b6a14/build/HStute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z.o
Week7/.stack-work/dist/d53b6a14/build/libHStute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.a
Week7/.stack-work/dist/d53b6a14/build/libHStute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z.a
Week7/.stack-work/dist/d53b6a14/build/Maybes.hi
Week7/.stack-work/dist/d53b6a14/build/Maybes.o
Week7/.stack-work/dist/d53b6a14/build/Paths_tute7.hi
Week7/.stack-work/dist/d53b6a14/build/Paths_tute7.o
Week7/.stack-work/dist/d53b6a14/build/RockPaperScissors.hi
Week7/.stack-work/dist/d53b6a14/build/RockPaperScissors.o
Week7/.stack-work/dist/d53b6a14/build/autogen/cabal_macros.h
Week7/.stack-work/dist/d53b6a14/build/autogen/Paths_tute7.hs
Week7/.stack-work/dist/d53b6a14/build/batch/batch.exe
Week7/.stack-work/dist/d53b6a14/build/batch/autogen/cabal_macros.h
Week7/.stack-work/dist/d53b6a14/build/batch/autogen/Paths_tute7.hs
Week7/.stack-work/dist/d53b6a14/build/batch/batch-tmp/Main.hi
Week7/.stack-work/dist/d53b6a14/build/batch/batch-tmp/Main.o
Week7/.stack-work/dist/d53b6a14/build/batch/batch-tmp/Paths_tute7.hi
Week7/.stack-work/dist/d53b6a14/build/batch/batch-tmp/Paths_tute7.o
Week7/.stack-work/dist/d53b6a14/build/watch/watch.exe
Week7/.stack-work/dist/d53b6a14/build/watch/autogen/cabal_macros.h
Week7/.stack-work/dist/d53b6a14/build/watch/autogen/Paths_tute7.hs
Week7/.stack-work/dist/d53b6a14/build/watch/watch-tmp/Main.hi
Week7/.stack-work/dist/d53b6a14/build/watch/watch-tmp/Main.o
Week7/.stack-work/dist/d53b6a14/build/watch/watch-tmp/Paths_tute7.hi
Week7/.stack-work/dist/d53b6a14/build/watch/watch-tmp/Paths_tute7.o
Week7/.stack-work/dist/d53b6a14/package.conf.inplace/package.cache
Week7/.stack-work/dist/d53b6a14/package.conf.inplace/package.cache.lock
Week7/.stack-work/dist/d53b6a14/package.conf.inplace/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.conf
Week7/.stack-work/dist/d53b6a14/stack-build-caches/7bc0eea821f25be2064ee1cda6349c93bce8f05b859727482e7ccaa4ccead6a1/lib
Week7/.stack-work/dist/d53b6a14/stack-build-caches/7bc0eea821f25be2064ee1cda6349c93bce8f05b859727482e7ccaa4ccead6a1/test-batch
Week7/.stack-work/dist/d53b6a14/stack-build-caches/7bc0eea821f25be2064ee1cda6349c93bce8f05b859727482e7ccaa4ccead6a1/test-watch
Week7/.stack-work/ghci/5ac78886/cabal_macros.h
Week7/.stack-work/ghci/81458726/cabal_macros.h
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/Examples.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/HStute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.o
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/libHStute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.a
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/Maybes.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/Paths_tute7.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi/RockPaperScissors.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/Examples.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/HStute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z.o
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/libHStute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z.a
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/Maybes.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/Paths_tute7.hi
Week7/.stack-work/install/ef6c4ae2/lib/x86_64-windows-ghc-9.0.2/tute7-0.1.0.0-mdtP7onYc0GoEoAvqdK3Z/RockPaperScissors.hi
Week7/.stack-work/install/ef6c4ae2/pkgdb/package.cache
Week7/.stack-work/install/ef6c4ae2/pkgdb/package.cache.lock
Week7/.stack-work/install/ef6c4ae2/pkgdb/tute7-0.1.0.0-3fc89Szqd9TLUU122ozAvi.conf
